<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Услуги</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
  <br><h1>Список услуг:</h1>
  <b>
  Лабораторная диагностика<br>
  МРТ (магнитно-резонансная томография)<br>
  МСКТ (мультиспиральная компьютерная томография)<br>
  Медицинский массаж<br>
  Прием врача-офтальмолога<br>
  Прием дерматолога<br>
  Прием оториноларинголога (ЛОР)<br>
  Прием педиатра<br>
  Прием терапевта<br>
  Рентген<br>
  Стоматология для детей и взрослых<br>
  Тест на COVID-19 методом ПЦР<br>
  УЗИ<br>
    Вызов педиатра на дом<br>
    Вызов терапевта на дом<br>
    Оформление медицинской карты в школу и детский сад за 1 день (№ 026/у)<br>
    Профосмотры для предприятий и частных лиц<br>
    Санаторно-курортная карта<br>
    Справка в бассейн<br>
    Справка в ГИБДД<br>
    Справка в детский лагерь отдыха<br>
    Справка для вуза (больничный)<br>
    Справка для ВУЗа (поступление)<br>
    Справка для занятий спортом ребенку<br>
    Туристическая справка</b>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>