<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Вакцинация</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
  <br><h1>Вакцинация:</h1>
  <h2>Цены:</h2>
  АДС-М (профилактика Дифтерии, Столбняка)
  &nbsp;&nbsp;&nbsp;500 ₽<br>
  Вакцинация для профилактики Столбняка (АС)
  &nbsp;&nbsp;&nbsp;1050 ₽<br>
  Антирабическая вакцина для профилактики Бешенства
  &nbsp;&nbsp;&nbsp;1920 ₽<br>
  Вакцинация от гриппа вакциной Ваксигрипп (Франция) - только для детей
  &nbsp;&nbsp;&nbsp;1500 ₽<br>
  Вакцинация против краснухи (отечественного производства)
  &nbsp;&nbsp;&nbsp;550 ₽<br>
  Варилрикс (профилактика Ветряной Оспы)
  &nbsp;&nbsp;&nbsp;5200 ₽<br>
  Вакцинация имоваксом полио (вакцина против полиомиелита импортная)
  &nbsp;&nbsp;&nbsp;1200 ₽<br>
  Инфанрикс Гекса (гемофильная инфекция, дифтерия, столбняк, коклюш, полиомиелит, гепатит В)
  &nbsp;&nbsp;&nbsp;4500 ₽<br>
  Инфлювак (Нидерланды) вакцина от гриппа
  &nbsp;&nbsp;&nbsp;1500 ₽<br>
  Вакцинация против клещевого энцефалита Клещ Э-Вак/ ЭнцеВир (Россия)/ ЭнцеВир Нео (Россия)
  &nbsp;&nbsp;&nbsp;2000 ₽<br>
  Вакцинация против кори (живая коревая вакцина)
  &nbsp;&nbsp;&nbsp;850 ₽<br>
  Менактра (профилактика Менингита)
  &nbsp;&nbsp;&nbsp;6500 ₽<br>
  Бивак Полио (полиомиелитная вакцина)
  &nbsp;&nbsp;&nbsp;500 ₽<br>
  Пентаксим (профилактика Дифтерии, Столбняка, Коклюша, Гемофильной инфекции, Полиомиелита)
  &nbsp;&nbsp;&nbsp;4200 ₽<br>
  Пневмо 23 (профилактика пневмококковой инфекции)
  &nbsp;&nbsp;&nbsp;4700 ₽<br>
  Приорикс (профилактика Кори, Краснухи, Паротита)
  &nbsp;&nbsp;&nbsp;1200 ₽<br>
  Хаврикс/Альгавак М взрослый (профилактика Гепатита А)
  &nbsp;&nbsp;&nbsp;2700 ₽<br>
  Комбиотех (профилактика Гепатита В)
  &nbsp;&nbsp;&nbsp;500 ₽<br>
  Вакцинация гриппозной вакциной Гриппол Плюс
  &nbsp;&nbsp;&nbsp;800 ₽<br>
  Вакцинация против гриппа вакциной Ультрикс Квадри
  &nbsp;&nbsp;&nbsp;1400 ₽<br>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>